@model Ryan_BugTracker.Models.AdminUserViewModels

@{
    ViewBag.Title = "EditUserRoles";
}
<h2>Edit User Roles</h2>

<hr />

@using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post))
{
    <h4 style="color: #29AAE3">@Html.DisplayFor(model => model.Name) <input type="submit" value="Assign Roles" class="btn btn-default" style="margin-left: 20px" /></h4>
    @Html.HiddenFor((model => model.Id), new { })
    <hr />
    @Html.ListBox("SelectedRoles", Model.Roles, new { @id = "custom-headers" })
    <br />
    <div>
        @Html.ActionLink("Back to List", "UserList")
    </div>
}
